.table{
    margin: auto;
    width: 80%;
    border: 1px white;
}
.label{
    margin: 2% 20% 30% 20%;
    width: 60%;
} 
.button{
    margin-left: 45%;
    padding: 4px;
    color: white;
    background-color: black;
    border-radius: 8px;
}
#hide{
    visibility: hidden;
}